@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Itim", cursive; }

.container {
  width: 1000px;
  margin: 0 auto; }

main {
  width: 100%;
  height: 1600px;
  background: url("../img/bg.jpg") no-repeat;
  background-position: center;
  overflow: auto; }
  main nav {
    width: 1000px;
    height: 45px;
    background: url("../img/menu.png") no-repeat;
    margin-top: 510px;
    margin-bottom: 20px; }
    main nav ul.menu {
      text-align: center;
      margin-right: 50px; }
      main nav ul.menu li {
        display: inline-block;
        margin-top: 15px;
        margin-left: 50px; }
        main nav ul.menu li a {
          text-decoration: none;
          color: #fff; }
  main .left-panel {
    float: left; }
    main .left-panel .login {
      width: 266px;
      height: 200px;
      background: url("../img/button1.png") no-repeat;
      text-align: center; }
      main .left-panel .login input[type="text"] {
        margin-top: 50px; }
      main .left-panel .login input[type="password"] {
        margin-top: 10px; }
      main .left-panel .login input[type="text"],
      main .left-panel .login input[type="password"] {
        border: none;
        outline: none;
        border-radius: 50px;
        padding: 3px; }
      main .left-panel .login input[type="submit"] {
        width: 65px;
        height: 30px;
        background: url("../img/login.png") no-repeat;
        border: none;
        outline: none;
        margin-top: 5px;
        cursor: pointer; }
      main .left-panel .login a#register {
        width: 33px;
        height: 29px;
        background: url("../img/register.png") no-repeat;
        display: inline-block;
        position: relative;
        top: 8.5px; }
    main .left-panel .refill {
      text-align: center; }
      main .left-panel .refill a {
        display: inline-block;
        width: 195px;
        height: 123px;
        background: url("../img/button2.png") no-repeat; }
    main .left-panel .download {
      text-align: center; }
      main .left-panel .download a {
        display: inline-block;
        width: 170px;
        height: 145px;
        background: url("../img/button3.png") no-repeat; }
    main .left-panel .guide {
      text-align: center; }
      main .left-panel .guide a {
        display: inline-block;
        width: 195px;
        height: 118px;
        background: url("../img/button4.png") no-repeat; }
    main .left-panel .contact {
      text-align: center; }
      main .left-panel .contact a {
        display: inline-block;
        width: 170px;
        height: 140px;
        background: url("../img/button5.png") no-repeat; }
  main .main {
    float: left;
    text-align: center; }
    main .main .video .label {
      width: 483px;
      height: 114px;
      background: url("../img/label1.png") no-repeat;
      background-position: center; }
    main .main .video iframe {
      margin: 20px 0; }
    main .main .news .label {
      width: 483px;
      height: 114px;
      background: url("../img/label2.png") no-repeat;
      background-position: center; }
    main .main .news iframe {
      margin: 20px 0;
      border: 2px solid #fff; }
  main .right-panel {
    float: left;
    text-align: center; }
    main .right-panel .server {
      width: 210px;
      height: 130px;
      background: url("../img/serverstatus.png") no-repeat;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center; }
      main .right-panel .server p {
        color: #fff;
        padding-top: 25px; }
        main .right-panel .server p span {
          color: lightgreen; }
    main .right-panel .activity a {
      display: inline-block;
      width: 210px;
      height: 127px;
      background: url("../img/activity.png") no-repeat; }
    main .right-panel .fb {
      width: 251px;
      height: 63px;
      background: url("../img/facebookpage.png") no-repeat; }
  main footer {
    color: #fff;
    text-align: center;
    position: relative;
    top: 120px; }

.clearfix {
  clear: both; }

/*# sourceMappingURL=style.css.map */
