@import "base";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap");

@mixin headerText() {
  font-size: 2rem;
  font-weight: bold;
}

@mixin subHeaderText() {
  font-size: 1.3rem;
  color: #444;
}

@mixin normalText() {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.2;
}

@mixin smallText() {
  font-size: 0.9rem;
  color: #666;
  line-height: 1.2;
}

body {
  font-family: "Lato", sans-serif;
}

$colorYellow: #fcdb00;
$colorBlack: #010101;

.container {
  max-width: 960px;
  margin: 0 auto;
}

header {
  background-color: $colorYellow;
  padding: 2rem 0;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      padding: 1rem;
    }

    ul.menu {
      display: flex;
      li {
        padding: 1rem;
        a {
          font-size: 1.3rem;
          text-decoration: none;
          color: $colorBlack;
          font-weight: bold;
        }
      }
    }
  }

  .banner {
    display: flex;
    padding: 3rem 0 4rem;

    .banner-text {
      padding: 5rem 10rem 2rem 0;
      width: 50%;

      h1 {
        @include headerText;
      }

      p.normal {
        margin: 1rem 0;
        @include normalText;
      }

      p.small {
        @include smallText;
      }

      ul.os {
        display: flex;
        li {
          margin: 2rem 2rem 2rem 0;
          i {
            font-size: 2.5rem;
          }
        }
      }
    }
    .banner-img {
      width: 50%;
      text-align: center;
      img {
        width: 75%;
      }
    }
  }
}

.features {
  padding-top: 1rem;
  padding-bottom: 4rem;
  .features-header {
    text-align: center;
    margin: 4rem 0;

    h1 {
      @include headerText;
      padding: 1rem 0;
    }

    p {
      @include normalText;
    }
  }

  .features-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .features-item {
      display: flex;
      margin-bottom: 3rem;

      .features-item-img {
        padding: 0 2rem;
        font-size: 2.5rem;
      }

      .features-item-text {
        h2 {
          @include subHeaderText;
        }

        p {
          @include smallText();
          margin: 1rem 0;
        }
      }
    }
  }
}

footer {
  background-color: $colorBlack;
  padding: 5rem 0;
  .footer-top {
    width: 80%;
    margin: 0 auto;
    text-align: center;

    h2 {
      @include headerText;
      color: $colorYellow;
      padding: 1rem 0;
    }

    p {
      @include normalText;
      margin-bottom: 2.5rem;
    }

    input {
      width: 75%;
      padding: 0.8rem;
      @include smallText;
      border-radius: 5px;
      border: none;
    }

    button {
      padding: 0.8rem 1.7rem;
      border: none;
      border-radius: 5px;
      margin-left: 1rem;
      background-color: $colorYellow;
      font-weight: bold;
    }

    ul.social {
      display: flex;
      text-align: center;
      justify-content: center;
      margin: 3rem 0;
      li {
        font-size: 2.5rem;
        padding: 1rem;
        a {
          text-decoration: none;
          color: $colorYellow;
        }
      }
    }
  }

  .footer-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    color: #fff;
    padding: 3rem 0;

    .footer-company {
      margin-right: 7rem;
      p {
        line-height: 1.2;
      }
    }

    .footer-info {
      ul li {
        padding-bottom: 0.3rem;
        a {
          text-decoration: none;
          color: #fff;
        }
      }
    }
  }
}
