@import "base";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap");

body {
  font-family: "Lato", sans-serif;
}

$colorYellow: #fcdb00;
$colorBlack: #010101;

.container {
  max-width: 960px;
  margin: 0 auto;
}

header {
  background-color: $colorYellow;
  padding: 2rem 0;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      padding: 1rem;
    }

    ul.menu {
      display: flex;
      li {
        padding: 1rem;
        a {
          text-decoration: none;
          color: $colorBlack;
          font-weight: bold;
        }
      }
    }
  }

  .banner {
    display: flex;
    padding: 3rem 0 4rem;

    .banner-text {
      padding: 5rem 10rem 2rem 0;
      width: 50%;

      h1 {
        font-size: 2rem;
        font-weight: bold;
      }

      p.big {
        font-size: 1.2rem;
        margin: 1rem 0;
        color: #555;
        line-height: 1.2;
      }

      p.small {
        font-size: 0.9rem;
        color: #666;
        line-height: 1.2;
      }

      ul.os {
        display: flex;
        li {
          margin: 2rem 2rem 2rem 0;
          i {
            font-size: 2.5rem;
          }
        }
      }
    }
    .banner-img {
      width: 50%;
      text-align: center;
      img {
        width: 90%;
      }
    }
  }
}
